<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                                 http://www.springframework.org/schema/beans/spring-beans.xsd
                                 http://www.springframework.org/schema/security
                                 http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- Configuración de seguridad -->
 	<http auto-config="true">
<!-- 		<intercept-url pattern="/CrearUsuario" access="hasAnyAuthority('Administrativo')" />
		<intercept-url pattern="/ListarUsuario" access="hasAnyAuthority('Administrativo')" />
		<intercept-url pattern="/ListarReportes" access="hasAnyAuthority('Administrativo')" />
		<intercept-url pattern="/ListarAsistencia" access="hasAnyAuthority('Cliente')" />
		<intercept-url pattern="/CrearBoletin" access="hasAnyAuthority('Cliente')" />
		<intercept-url pattern="/ListarBoletin" access="hasAnyAuthority('Cliente')" />
		<intercept-url pattern="/Cuenta" access="hasAnyAuthority('Cliente', 'Voluntario')" />
		<intercept-url pattern="/MarcarAsistencia" access="hasAnyAuthority('Voluntario')" />
		<intercept-url pattern="/ReportarIncidente"	access="hasAnyAuthority('Voluntario')" /> -->
		<intercept-url pattern="/Contacto" access="permitAll" /> <!-- Permitir acceso a todos -->
		<intercept-url pattern="/Logout" access="permitAll" /> <!-- Permitir acceso a todos -->
		<intercept-url pattern="/Inicio" access="permitAll" /> <!-- Permitir acceso a todos -->
		<form-login login-page="/"
			authentication-failure-url="/error" username-parameter="correo_usuario"
			password-parameter="password_usuario" />
		<csrf disabled="true" />
		<logout logout-success-url="/Inicio" />
	</http>
<!--  Contraseñas base
cliente@example.com= c123456
admin@example.com= c123456789
voluntario@example.com= c1234
   -->
	<!-- Configuración de autenticación -->
	<authentication-manager>
		<authentication-provider>
			<password-encoder hash="bcrypt" />
			<jdbc-user-service data-source-ref="ds"
				users-by-username-query="select correo_usuario as username, password_usuario as password, 1 as enable from login where correo_usuario = ?"
				authorities-by-username-query="select correo_usuario as username, tipo_usuario as authority from login where correo_usuario = ?" />
		</authentication-provider>

	</authentication-manager>

</beans:beans>